
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto, 'sans-serif';

    
}
.debug {
    border: 1px solid red;
}


main{
    
    overflow-x: hidden;
    
}
body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    align-self: center;
    

}


header {
    background: rgb(161, 97, 182);
    background: linear-gradient(90deg, rgb(196, 41, 170) 0%, rgba(169,15,144,1) 56%, rgba(12,26,81,1) 100%);
    padding-top: 7px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 21px;
    
}

section {
    display: flex;
    flex-direction: column;
    gap: 95px;
    background-color: #EBEBEB;
    margin: 0 auto;
    padding-bottom: 2%;
    
}

footer {
    display: flex;
    flex-direction: column;
    gap: 95px;
    background-color: #EBEBEB;
    margin: 0 auto;
    
    
}

header .logo-barra {
    display: flex;
    flex-direction: row;
    justify-content:safe;
    padding-left: 8%;
    margin-top: 5px;

}
#logo img{
    width:150px;
    height:150px;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    
  }
#logo img:hover{
  
      animation: bounce 1s ease-in-out infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(-5px);
      } 
  }
  header .logo-barra .busqueda1{
    display: flex;
    flex-direction: row;

margin-top: 40px;
  }
  header .logo-barra .busqueda1 input{
    height: 50px;
    width: 800px;
  }

  header .logo-barra .busqueda1 button {
    height: 50px;
width: 50px;

  }
  header .logo-barra .busqueda1 button svg{
    cursor: pointer;
  }
  header .logo-barra .subscripcion-boton{
margin: 50px;
  }
  header .logo-barra .subscripcion-boton .button{
  display:flex;
    justify-content: flex-end;
    border-top: rgb(250, 250, 250);
    border-top-style: groove;
    border-top-width: 0.2px;
    background-color:rgb(52, 163, 190);
    padding: 15px 36px;
    padding-top: 5px;
}

.header-a{
    display: flex;
    flex-direction: row;
    gap: 60px;
    
}
.space-btw {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    gap: 4px;
    margin-bottom: 0%;
    padding-right: 10%;
    padding-left: 9%;

}

.domicilio {
    
    margin-bottom: 11px;
    color: #333333;
    font-size: small;
    font-weight: 600;
}

.elementos-header {
    margin-bottom: 11px;
    color: #33333399;
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: space-between;
    text-size-adjust: 22px;
    gap: 15px;
}
.elementos-header a{
   color: #100f0f; 
}
.elementos-header a:hover {
    text-decoration: none;
    color: #100f0f;
}
.dropdown1 {
    float: left;
    overflow: hidden;

}

.dropdown1 .dropbtn {
    font-size: auto;
    outline: none;
    color: #171515;
    padding: 14px 16px;
    margin: 0;
}


 .dropdown1 .dropbtn:hover {
    background-color: rgb(233, 234, 219);
    cursor: pointer;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown-content {
    display:flex;
    flex-direction: column;
}
.sub-dropdown {
    position: relative;
    display: inline-block;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    top: 0;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}
#CIM {
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: space-between;
    text-size-adjust: 22px;
    gap: 15px;
}
#CIM a{
    color: #171515;
 text-decoration: none;

}

/* Estilos generales del carrusel */
#carouselExampleSlidesOnly {
    width: 80%; /* Ancho del carrusel */
    margin: auto; /* Centrar el carrusel en la página */
    display: flex;
    flex-direction: row;
  }
  
  /* Estilos de las imágenes dentro del carrusel */
  .carousel-item img {
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1); /* Sombra ligera alrededor de las imágenes */
    max-height: 700px; /* Altura máxima de las imágenes */
    object-fit: cover; /* Ajustar la imagen manteniendo su relación de aspecto */
  }
  
  /* Cambiar el color de los indicadores del carrusel */
  .carousel-indicators li {
    background-color: #100f0f; /* Color de fondo de los indicadores activos */
  }
  
  /* Cambiar el color de las flechas del carrusel */
  .carousel-control-prev, .carousel-control-next {
    filter: invert(500%); /* Invertir el color de las flechas para que sean visibles en diferentes fondos */

  }

/* Estilos para los botones de control del carrusel */
.carousel-control-prev, .carousel-control-next {
width: 2%; /* Ajusta el ancho según sea necesario */
font-size: 2rem; /* Tamaño de la fuente */
color: #ffffff; /* Color del texto */
background-color: #4d4e4f; /* Color de fondo del botón */
border: none; /* Elimina el borde del botón */
border-radius: 5px; /* Bordes redondeados */
opacity: 0.7; /* Opacidad inicial del botón */
}

/* Estilos para los iconos de flecha dentro de los botones de control */
.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: #363535; /* Color del icono */
}

/* Estilo cuando el mouse está sobre el botón */
.carousel-control-prev:hover,
.carousel-control-next:hover {
opacity: 1; /* Muestra completamente el botón al pasar el mouse sobre él */
}

.ver-mas {
    color: #3483FA;
    font-size: smaller;
}
.secciones-header{
    color: #666666;
    font-size: 26px;
    font-weight: 400;
    margin-right: 7px;
}


.seccion-ofertas{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 100px 25px 0px 25px;
   overflow-x: scroll;
    justify-content: space-evenly;
    margin: 0px 0px 0px 155px;
    width: 1200px;
    margin-bottom: 30%;
}
.seccion-ofertas-header{
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    align-items: baseline;


}
 .seccion-general-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
  
  
}
.card-ofertas{
    display: flex;
    flex-direction: column;
    gap: 11.8px;
    padding-bottom: 58px;
    background-color: white;
    width: 230px;

}
.card-ofertas-descripcion{
padding:0px 0px 0px 15px;

}
.card-ofertas-precio{
    color: #333333;
    font-size: 23px;
    font-weight:600;
    padding-left: 16px;
    
}
.card-ofertas-descuento{
    color: #00A650;
    font-size: 14px;
    padding-left: 11.28px;

}
.envio-gratis{
    color: #00A650;
    font-size: 13px;
    font-weight: bolder;
    padding-left: 16px;
}

.button {
    border: none;
    color:white;
    background-color: #3483FA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
  }
.mercado-puntos .seccion-general-container{
    margin-top: -300px;
}
.mercado-puntos{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 0px 0px 0px;
    justify-content:space-around;
    margin:-325px 0px 0px 150px;
    width: 1200px;
    height: 500px;
}
.card-mercado-puntos-1{
    display: flex;
    flex-direction: row;
    padding-top: 154px;
    padding-left: 16px;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    padding-bottom: 58px;
    background-image: url(img/Parceras/4-modificado.png);
    background-size: 384px 300px;
    width: 400px;
    height: 300px;
    align-items: center;

}
.card-mercado-puntos-2{
    display: flex;
    flex-direction: row;
    padding-top: 154px;
    padding-left: 16px;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    padding-bottom: 58px;
    background-image: url(img/Parceros/nike-dunkretro-2.jpg);
    background-size: 384px 300px;
    width: 400px;
    height: 300px;
    align-items: center;

}
.card-mercado-puntos-3{
    display: flex;
    flex-direction: row;
    padding-top: 154px;
    padding-left: 26px;
    border-radius: 6px;
    gap: 16px;
    border-radius: 6px;
    padding-bottom: 58px;
    background-image: url(img/Parceros/12_modificado.png);
    background-size: 384px 310px;
    width: 400px;
    height: 300px;
    align-items: center;

}
.icono-mercado-puntos{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items:self-start;
    
    justify-content:end;
}
.card-mercado-puntos-1:hover .icono-mercado-puntos img,
    .card-mercado-puntos-2:hover .icono-mercado-puntos img,
    .card-mercado-puntos-3:hover .icono-mercado-puntos img {
        transform: scale(1.1); /* Puedes ajustar el valor según tus preferencias */
        transition: transform 0.3s ease; /* Añade una transición suave al efecto */
    }

    .card-mercado-puntos-1:hover .icono-mercado-puntos + div,
    .card-mercado-puntos-2:hover .icono-mercado-puntos + div,
    .card-mercado-puntos-3:hover .icono-mercado-puntos + div {
        transform: translateY(-20px); /* Puedes ajustar el valor según tus preferencias */
        transition: transform 0.3s ease; /* Añade una transición suave al efecto */
    }
.seccion-descubre{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 22px 10px;
    padding-top: 5%;
    padding-bottom: 100px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    margin-bottom: 1%;
}
.card-descubre{
    display: flex;
    background-color: white;
    flex-direction: row;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: 6px;
    gap: 14px;
    border-radius: 6px;
    padding-bottom: 0px;
    width: 584px;
    height: 250px;
    justify-content: end;

}
.texto-card-descubre{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-top: 46px;
}
.button-descubre {
    border: none;
    color:white;
    background-color: #ad08b0;
    padding: 12px 8px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 110px;
    height: 36px;
  }



.seccion-colecciones{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 72px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    margin-bottom: 1%;
}
.card-colecciones{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    gap: 20px;

    width: 383px;
    height: 384px;
    align-items:flex-start;
}
.colecciones-items-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.colecciones-items{
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;

}

.categorias-populares{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 22px 10px;
    overflow-x: auto;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
}
.categorias-populares-container{
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}
.categorias-populares-items{
    display: flex;
    flex-direction: row;
    gap: 1px;
    border-radius: 4px;

}

.card-categorias-populares{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 1px;

}


.otras-opciones{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    padding-top: 20px;
}
.otras-opciones-section{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 260px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;  
    background-color: #ffffff;
    padding-left: 12%;

}
.footer-info{
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    gap: 7px;
    padding-bottom: 15px;
    padding-right: 500px;
    border-bottom: rgb(255, 255, 255);
    border-bottom-style: groove;
    border: bottom width 0px;;
    border-top: rgb(255, 255, 255);
    border-top-style: groove;
    border: top width 0px;;



}
.social-icons{
    display: flex;
    flex-direction: row;
    margin:10px 0px 0px 0px;
          }
          .social-icons a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px; /* Ancho de cada icono */
            height: 50px; /* Altura de cada icono */
            margin: 0 10px; /* Espacio entre iconos */
            font-size: 24px;
            color: #333; /* Color normal de los iconos */
            text-decoration: none;
            border-radius: 50%; /* Hacer los iconos redondeados */
            transition: background-color 0.3s ease, color 0.3s ease; /* Efecto de transición */
          }
          
          .social-icons a:hover {
            color: white; /* Color al hacer hover sobre los iconos */
          }
          
          /* Estilos para los iconos de cada red social */
          .facebook {
            background-color: #3b5998; /* Color de fondo de Facebook */
          }
          
          .instagram {
            background-color: #c13584; /* Color de fondo de Instagram */
          }
          
          .twitter {
            background-color: #1da1f2; /* Color de fondo de Twitter */
          }
          
          .youtube {
            background-color: #ff0000; /* Color de fondo de YouTube */
          }
